<!--We only use "./" and not "../" as we do not need to go back out a level unlike with "index.ejs"-->
<% include ./partials/header %>

<h1> Login! </h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login!">
</form>

<!--Only "./" for partials as well-->
<% include ./partials/footer %>
