<h1>Search for a movie</h1>

<!--action="/results" pass what we type to the route "/results" via name="search"-->
<form action="/results" method="GET">
    <!--name="search" stores what we type into "search"-->
    <input type="text" placeholder="search term" name="search">
    <input type="submit">
</form>