<h1>Sign Up Form</h1>

<form action="/register" method="POST">
    <!--Dont forget without name="" the data will not be sent anywhere-->
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <!--As long as button is at the end of the form it will automatically submit-->
    <button>Submit</button>
</form>

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Log In!</a></li>
<li><a href="/logout">Log Out!</a></li>