<!DOCTYPE html>
<html>
    <head>
        <title>Demo App</title>
        <!--"/" is very important, states look for app.css not in the same directory you are in but in the overall route directory, you wont find app.css otherwise -->
        <link rel="stylesheet" href="/app.css">
        
    </head>
<body>